@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Scripts/editor.md-master/css/editormd.preview.min.css" />
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/Scripts/editor.md-master/lib/marked.min.js"></script>
    <script src="~/Scripts/editor.md-master/lib/prettify.min.js"></script>
    <script src="~/Scripts/editor.md-master/lib/raphael.min.js"></script>
    <script src="~/Scripts/editor.md-master/lib/underscore.min.js"></script>
    <script src="~/Scripts/editor.md-master/lib/sequence-diagram.min.js"></script>
    <script src="~/Scripts/editor.md-master/lib/flowchart.min.js"></script>
    <script src="~/Scripts/editor.md-master/lib/jquery.flowchart.min.js"></script>
    <script src="~/Scripts/editor.md-master/editormd.min.js"></script>
    <style>            
        .editormd-html-preview {
            width: 60%;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<pre id="content" style="display: none;" >@ViewBag.Content</pre>

<div id="editormd-view">
    <textarea style="display: none;" name="editormd-markdown-doc"></textarea>
</div>
<script>
    testEditormdView = editormd.markdownToHTML("editormd-view",{
            markdown: $("#content").text(),
            htmlDecode: "style,script,iframe",
            tocm: true,
            emoji: true,
            taskList: true,
            tex: true,
            flowChart: true,
            sequenceDiagram: true
        });
</script>
</body>
</html>